<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.felixlyd.account.mapper.AccountMapper" >
    
    <select id="selectByUserId" resultType="org.example.felixlyd.account.bean.Account">
        select id, user_id, total, used, residue, frozen from account t where t.user_id = #{userId}
    </select>
    
    <update id="updateResidueAndUsed" parameterType="org.example.felixlyd.account.bean.Account">
        UPDATE account SET residue = #{residue},used = #{used} where user_id = #{userId};
    </update>

    <update id="updateResidueAndFrozen" parameterType="org.example.felixlyd.account.bean.Account">
        UPDATE account SET residue=#{residue}, frozen=#{frozen} WHERE user_id=#{userId}
    </update>

    <update id="updateFrozenAndUsed" parameterType="org.example.felixlyd.account.bean.Account">
        UPDATE account SET frozen=#{frozen}, used=#{used} WHERE `user_id`=#{userId}
    </update>

</mapper>