HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

logs

seata-server-1.5.2/seata/bin
seata-server-1.5.2/seata/ext
seata-server-1.5.2/seata/lib
seata-server-1.5.2/seata/script
seata-server-1.5.2/seata/target
